@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,500,900"');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    display: flex;
    margin: 0 auto;
}
.form{
    margin-top: 5%;
    width: 100%;
    padding: 0 5%;
}

.container-form{
    display: flex;
    flex-direction: column;
    margin-top: 10%;

}

input{
    background: #F2F2F2;
    border-radius: 5px;
    width: 100%;
    padding: 0 30px;
    border: none;
    padding: 20px 30px;
    margin: 20px 0;
}

.btn-inicio{
    background: #6C63FF;
    border-radius: 8px;
    color: #F2F2F2;
    border: none;
    width: 90%;
    padding: 20px 0 ;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
    line-height: 26px;

    color: #FFFFFF;
}

@media (max-width:414px) {
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10%;
    }
    .Img-bg{
        width: 100%;
        height: 200px;
        margin: 0 auto;
    }
    .form{
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }
    
}