@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,500,900"');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
    


.container{
    display: flex;
    margin: 0 auto;
}
.form{
    margin-top: 5%;
    width: 100%;
    padding: 0 5%;
}

.container-form{
    display: flex;
    flex-direction: column;
    margin-top: 10%;

}

input{
    background: #F2F2F2;
    border-radius: 5px;
    width: 90%;
    padding: 0 30px;
    border: none;
    padding: 20px 30px;
    margin: 20px 0;
}

.btn-inicio{
    background: #6C63FF;
    border-radius: 8px;
    color: #F2F2F2;
    border: none;
    width: 90%;
    padding: 20px 0 ;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
    line-height: 26px;

    color: #FFFFFF;
}

/* The alert message box */
.alert {
  padding: 20px;
  background-color: #dc3741; /* Red */
  color: white;
  margin-bottom: 15px;
  width: 90%;
}

.alert2 {
  padding: 20px;
  background-color: rgb(0, 64, 128); /* Red */
  color: white;
  margin-bottom: 15px;
  width: 90%;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

#recu{
	background: rgb(0, 0, 162);
    border-radius: 8px;
    color: #F2F2F2;
    border: none;
    width: 90%;
    padding: 20px 10px ;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
    line-height: 26px;
    text-decoration: none;

    color: #FFFFFF;
}

.contra{
    color: gray;
    font-weight: bold;
    
}